* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 24px;
    width: 24px;
    border-radius: 100%;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 36px;
    border-radius: 100%;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #00000065, 0px 0px 1px #0d0d0d86;
  }
  input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 24px;
    width: 24px;
    border-radius: 100%;
    background: #ffffff;
    cursor: pointer;
    margin-top: -8px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
  }
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:20vh;
}

#tempo-control {
    width: 60%;
}

.control {
    font-size: 60px;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
    outline: 0;
    background-color: white;
    border: none;
}

.control-minus {
    transform: translateY(-5px)
}

.play {
    width: 50px;
    height:50px;
    background-color: #3071a9;
    border-radius: 100%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    border: 4px solid rgba(139, 191, 233, 0);
    /* transition: all 0.1s; */
}

.playing {
    border: 4px solid rgba(243, 199, 4, 0.541);     
}
.play:hover {
    opacity: 0.9;
}
.start-btn {
    color:#fff;
    font-size: 35px;
    position: absolute;
    top:1px;
    left:8px;
    cursor: pointer;
}

.tempo-display {
    margin: 20px; 
    text-align: center;
    font-size:45px;
}

ul, li {
  list-style: none;
  display: block;
  text-align: center;

  /* width: 50%; */
  /* margin: 0 auto; */
}
ul {
  margin: 0 auto;
  width: 50%;
  cursor: none;
}

.btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: rgb(223, 223, 223);
  border-radius: 100%;
  /* transition: all 0.01s; */
  border: 3px solid rgba(255, 255, 255, 0);
}

.add-blue {
  background-color: #275985;
  border: 3px solid rgb(243, 199, 4);  
}
